<!DOCTYPE html>
<html>
<head>
  <title>Climblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
	 <nav class='head-bar'>
    <%= link_to 'About Climblog.org', root_path %>

    <%= link_to 'View Public Climbing Records', public_climbers_path %>

    <%= link_to 'Track of My Climbing', new_training_path %>

    <% if climber_signed_in? %>
      <%= link_to 'View My Climbing History', trainings_path(climber_id: current_climber.id) %>
      <%= link_to "Logout", destroy_climber_session_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_climber_session_path %>
      <%= link_to "Sign up", new_climber_registration_path %>
    <% end %>
  </nav>

<%= yield %>

</body>
</html>
