<!DOCTYPE html>
<html>
<head>
  <title>Climblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
	 <nav class='head-bar'>
      <% if climber_signed_in? %>
        <%= link_to "Logout", destroy_climber_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_climber_session_path %>
        <%= link_to "Sign up", new_climber_registration_path %>
      <% end %>
      <%= link_to "Rundong's Climbing History", controller: :trainings, action: :index, climber_id: 4 %>

      <%= link_to "Add a New Training", controller: :trainings, action: :new%>
  
      <%= link_to "About Climblog.org", root_path %>

  </nav>

<%= yield %>

</body>
</html>
